# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.env

# Local databases (don't push user data to GitHub)
database/*.db

# Streamlit logs and cache
.streamlit/
auth.json
*.log
